* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: yellow;
    background: url(https://storage.needpix.com/rsynced_images/blue-1273089_1280.jpg)no-repeat center center/cover;
    overflow: hidden;
    height: 100vh;
}

.form {
    width: 38%;
    padding: 60px 6%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    margin-top: 5%;
}

.btn {
    color: rgb(235, 231, 231);
    text-decoration: none;
    background-color: rgb(240, 13, 24);
    size: 400vh;
    border-radius: 6px;
    padding: 5px 9px;
    margin: 25px;
}

a :active {
    background-color: aqua;
}

.size {
    text-align: center;
}

.color {
    color: rgb(236, 234, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color1 {
    color: black;
    font-family: serif;
    text-align: center;
}

.color33 {
    color: rgb(204, 212, 219);
}
#color3{
width: 6%;
}
#date {
    width: 70%;
}

.btn:hover {
    background: black;
}

.head {
    width: ;
    height: 100px;
}

h1 {
    font-size: x-large;
}

input {
    width: 70%;
    text-align: center;
}

.gen {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: baseline;
    gap: 3%;
}